html,
body {
	position: relative;
	height: 100%;
	padding: 0 !important;
	margin: 0 !important;
}

.container {
	overflow: hidden;
}

.page-title {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.image {
	position: relative;
	width: 100%;
	font-size: 0;
}

.image img {
	width: 100%;
	object-fit: contain;
	height: calc(100% - 40px);
	background: #ddd;
}
